{% extends 'core/base.html' %}
{% load static bootstrap5 %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="bg-blue">
    <section>
        <div class="container-fluid">
            <div class="me-auto">
                {% bootstrap_messages %}
            </div>
        </div>
    </section>
    <section id="bloco-login">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3 py-3">
                    <div class="bg-light p-md-5 text-dark">
                        <div class="title text-center mb-3">
                            <h1>Acesso</h1>
                        </div>
                        <form action="" method="post" class="mb-4">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% bootstrap_button 'Login' button_type="submit" button_class="btn-primary w-100 text-uppercase" %}
                        </form>
                        <div class="text-center d-block">
                            <a href="{% url 'signup' %}">
                                Cadastra-se
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}